* {
    box-sizing: border-box;
    margin: 0;
}

/* use body instead of * */
body {
    background-color: lawngreen;
}

.main-nav_items {
    justify-content: space-evenly;
    display: flex;
}

.main-page>a {
    text-decoration: none;
    cursor: pointer;
}

li>a {
    color: black;
    font-weight: bolder;
    font-size: 30px;
    text-decoration: none;
}

.main-nav_item {
    display: inline-block;

}